EXPO_PUBLIC_APPWRITE_PROJECT_ID=
EXPO_PUBLIC_APPWRITE_PROJECT_NAME=
EXPO_PUBLIC_APPWRITE_ENDPOINT=
EXPO_PUBLIC_BUNDLE_ID=
EXPO_PUBLIC_DATABASE_ID=
EXPO_PUBLIC_BUCKET_ID=
EXPO_PUBLIC_USERTABLE_ID=
EXPO_PUBLIC_CATEGORIES_ID=
EXPO_PUBLIC_ITEMS_ID=
EXPO_PUBLIC_CUSTOM_ID=
EXPO_PUBLIC_ORDERS_ID=

EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=
EXPO_PUBLIC_STRIPE_CHECKOUT_FUNCTION_ID=
EXPO_PUBLIC_STRIPE_MERCHANT_NAME=

EXPO_PUBLIC_ORS_API_KEY=
EXPO_PUBLIC_GOOGLE_MAPS=

EXPO_PUBLIC_CLOUDINARY_KEY=
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=
EXPO_PUBLIC_CLOUDINARY_SIGN_FUNCTION_ID=
